:root {
  font-family: ChristmasGift;
  line-height: 1.5;
  font-weight: 1200;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "ChristmasGift";
  src: url("./assets/christmas_title.ttf") format("truetype");
  font-weight: bold; /* or bold */
  font-style: bold; /* or italic */
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: rgb(8, 169, 22);
}
